div {
  width: 150px;
  height: 150px;
  background: red;
}
#box1 {
  background-color: red;
}

#box2 {
  background-color: blue;
  margin: 32px 0 0 0;
  border: 2px solid red;
  padding: 45px;
}

#box3 {
  background: yellow;
  margin: 10px 0 0 0;
  border: 10px solid green;
  width: 500px;
  max-width: 100px;
  max-height: 100px;
  min-width: 1px;
}

#box4 {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: rebeccapurple;
  border: 5px solid green;
  box-sizing: border-box;
}
