* {
  margin: 0;
  padding: 0;
}

/* === Body== */
body {
  font-family: sans-serif;
  font-size: 15px;
  color: blue;
}

/* === Menu== */
#menu ul {
  list-style-type: none;
  background: rgb(106, 151, 194);
  text-align: center;
}

#menu ul li {
  color: #f1f1f1;
  display: inline-table;
  height: 40px;
  width: 120px;
  line-height: 40px;
  position: relative;
}

#menu ul li a {
  color: #f1f1f1;
  text-decoration: none;
  display: block;
}

#menu ul li a:hover {
  background: #f1f1f1;
  color: #333;
}

#menu ul li >.sub-menu {
    display: none;
    position: absolute;
}

#menu ul li:hover .sub-menu {
    display: block;
}